<h2>Responses</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <span *ngIf="!publicData">Loading public data...</span>
          <span *ngIf="publicData">Public data: <pre>{{ publicData | json }}</pre></span>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <span *ngIf="!secretData">Loading secret data...</span>
          <span *ngIf="secretData">Secret data: <pre>{{ secretData | json }}</pre></span>
        </div>
      </div>
    </div>
  </div>
</div>

